<head>
    <meta charset="UTF-8">
    <title>DRANE Ac-Grenoble</title>
    <meta data-rh="true" name="twitter:card" content="summary_large_image">
    <divnk data-rh="true" rel="icon" href="/img/elea.ico">
 <style>
body{
    background-color: #f0f0f0;
    font-family: sans-serif;
}
.container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 95%
}

.container--fluid {
    max-width: inherit
}

h1, h3{
    text-align: center;
}

.grille {
    display: grid;
    gap: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}


.card {
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 5px 40px #0003;
    display:flex;
    flex-direction: column;
    overflow: hidden
}

.card__image {
    padding-top: 1rem;
    border-bottom: 2px solid #f5f5f5;
    height: 250px;
    overflow: hidden
}

.card > a {
    text-decoration: none !important;
    color: black;
}

.card:hover {
    box-shadow: 0px 0px 20px rgb(77, 77, 77);
}

.card__image:first-child {
    padding-top: 0
}

.card__body,.card__footer,.card__header {
    padding: 0.5rem
}

.card__body:not(:last-child),.card__footer:not(:last-child),.card__header:not(:last-child) {
    padding-bottom: 0
}

.card__body>:last-child,.card__footer>:last-child,.card__header>:last-child {
    margin-bottom: 0
}
 </style>
 </head>
<body>
<h1>La DRANE Ac-Grenoble ❤️ La forge</h1>

<div class="container">
    <h2>Les projets que nous avons créés ou auxquels nous participons</h2>
        <div class="grille">
            <div class="card">
                <a href="https://drane-grenoble.forge.apps.education.fr/jaime/"><div class="card__image">
                    
                        <div style="background-size: cover; background-repeat: no-repeat; position: relative;">
                            <img src="https://drane-grenoble.forge.apps.education.fr/jaime/images/banniere_jam.jpg" alt="Journée Académique Inspirante Moodle Éléa" width="334" height="250" style="width: 100%; height: auto; max-width: 100%; margin-bottom: -4px;">
                        </div>
                </div>
                <div class="card__body">
                    <div>
                        <h3>JAIME</h3>
                    </div>
                    <p>Journée Académique Inspirante Moodle Éléa : une journée sous le thème de la e-éducation.</p>
                </div></a>
            </div>
            <div class="card">
                <a href="https://drane-grenoble.forge.apps.education.fr/banque_epoc/"><div class="card__image">
                        <div style="background-size: cover; background-repeat: no-repeat; position: relative;">
                            <img src="https://epoc.inria.fr/images/logo-epoc-by-inria.png" alt="Diaporamas" width="334" height="250" style="width: 100%; height: auto; max-width: 100%; margin-bottom: -4px;">
                        </div>
                </div>
                <div class="card__body">
                    <div>
                        <h3>Banque d'ePoc</h3>
                    </div>
                    <p>Ressources pédagogiques libres à utiliser dans l'application de mobile learning ePoc</p>
                </div></a>
            </div>
            <div class="card">
                <a href="https://forge.apps.education.fr/drane-grenoble/diaporamas"><div class="card__image">
                        <div style="background-size: cover; background-repeat: no-repeat; position: relative;">
                            <img src="https://forge.apps.education.fr/uploads/-/system/project/avatar/180/diaporamas.png" alt="Diaporamas" width="334" height="250" style="width: 100%; height: auto; max-width: 100%; margin-bottom: -4px;">
                        </div>
                </div>
                <div class="card__body">
                    <div>
                        <h3>Diaporamas</h3>
                    </div>
                    <p>Diaporamas réalisés avec le framework REVEAL.JS</p>
                </div></a>
            </div>
            <div class="card">
                <a href="https://dne-elearning.gitlab.io/moodle-elea/documentation"><div class="card__image">
                        <div>
                            <img src="https://documentation-elea.forge.apps.education.fr/img/elea.png" alt="Diaporamas" width="334" height="250" style="width: 100%; height: auto; max-width: 100%; margin-bottom: -4px;">
                        </div>
                </div>
                <div class="card__body">
                    <div>
                        <h3>Documentation Éléa</h3>
                    </div>
                    <p>Documentation pédagogique pour l'utilsation d'Éléa</p>
                </div></a>
            </div>      
            <div class="card">
                <a href="https://documentation-moodle.forge.apps.education.fr/"><div class="card__image">
                        <div style="background-size: cover; background-repeat: no-repeat; position: relative;">
                            <img src="https://moodle.org/theme/moodleorg/pix/moodle_logo_TM.svg" alt="Diaporamas" style="margin-bottom: -4px;">
                        </div>
                </div>
                <div class="card__body">
                    <div>
                        <h3>Documentation Moodle</h3>
                    </div>
                    <p>Documentation pédagogique pour l'utilsation de moodle</p>
                </div></a>
            </div>
            <div class="card">
                <a href="https://forge.apps.education.fr/drane-grenoble/diaporama-drane-Grenoble"><div class="card__image">
                        <div style="background-size: cover; background-repeat: no-repeat; position: relative;">
                            <img src="https://www1.ac-grenoble.fr/sites/ac_grenoble/files/site_logo/2020-11/09_logoAC_GRENOBLE_normalWEB.jpg" alt="Diaporamas DSFR" width="334" height="250" style="width: 100%; height: auto; max-width: 100%; margin-bottom: -4px;">
                        </div>
                </div>
                <div class="card__body">
                    <div>
                        <h3>Diaporamas DSFR</h3>
                    </div>
                    <p>Diaporamas en Markdown avec le thème officiel de l'état français</p>
                </div></a>
            </div>
            <div class="card">
                <a href="https://forge.apps.education.fr/drane-grenoble/ressources_autobd"><div class="card__image">
                        <div style="background-size: cover; background-repeat: no-repeat; position: relative;">
                            <img src="https://forge.apps.education.fr/uploads/-/system/project/avatar/367/OIG3.jpg" alt="Diaporamas" width="334" height="250" style="width: 100%; height: auto; max-width: 100%; margin-bottom: -4px;">
                        </div>
                </div>
                <div class="card__body">
                    <div>
                        <h3>Ressources AutoBD</h3>
                    </div>
                    <p>Ressources graphiques à utiliser dans AutoBD</p>
                </div></a>
            </div>
            <div class="card">
                <a href="https://forge.apps.education.fr/drane-grenoble/sites-eleves"><div class="card__image">
                        <div style="background-size: cover; background-repeat: no-repeat; position: relative;">
                            <img src="https://forge.apps.education.fr/uploads/-/system/project/avatar/1641/pageleve2.png" alt="Site élèves" width="334" height="250" style="width: 100%; height: auto; max-width: 100%; margin-bottom: -4px;">
                        </div>
                </div>
                <div class="card__body">
                    <div>
                        <h3>Sites élèves </h3>
                    </div>
                    <p>Publier des sites réalisés dans Capytale.fr</p>
                </div></a>
            </div>
            <div class="card">
                <a href="https://forge.apps.education.fr/moodle-code/elea/media_pod"><div class="card__image">
                        <div style="background-size: cover; background-repeat: no-repeat; position: relative;">
                            <img src="media_pod.png" alt="Site élèves" width="334" height="250" style="width: 100%; height: auto; max-width: 100%; margin-bottom: -4px;">
                        </div>
                </div>
                <div class="card__body">
                    <div>
                        <h3>Media Pod </h3>
                    </div>
                    <p>Filtre Podéduc pour moodle (Éléa/Magistère)</p>
                </div></a>
            </div>
            <div class="card">
                <a href="https://forge.apps.education.fr/moodle-code/elea/media_peertube"><div class="card__image">
                        <div style="background-size: cover; background-repeat: no-repeat; position: relative;">
                            <img src="media_peertube.png" alt="Site élèves" width="334" height="250" style="width: 100%; height: auto; max-width: 100%; margin-bottom: -4px;">
                        </div>
                </div>
                <div class="card__body">
                    <div>
                        <h3>Media Pod </h3>
                    </div>
                    <p>Filtre Peertube pour moodle (Éléa/Magistère)</p>
                </div></a>
            </div>
        </div>
        </div>
</div>
</body>